body{
  font-family: Tahoma, sans-serif;

  .home{

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
  
    a{
      color: blue;
      text-decoration: underline;
      cursor: pointer;
        
      &:hover{
        color: skyblue;
      }
    }  
  }
}
