.products-page{
    height: 100vh;
    h1{
        text-align: center;
    }

    .products{
        position: relative;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .product{
            position: relative;
            margin-right: 4px;
            padding: 5px;
            max-width: 300px;
            min-width: 200px;
            border: 1px solid black;

            &:hover{
                background-color: rgb(0, 0, 72);
                color: white;
            }

            .desc{
                font-size: 12px;
            }

            .delete-button{
                position: absolute;
                top: 0;
                left: 0;

                background-color: red;
                color: rgb(100, 0, 0);
                border: 2px solid whitesmoke;

                &:hover{
                    background-color: rgb(100, 0, 0);
                    color: white;
                }
            }
        }

        .add-button{
            font-size: 50px;
            max-width: 300px;
            min-width: 200px;
        }
    }
}